version: '3.8'

services:
  postgres:
    image: postgres:17

    container_name: postgres_db
    hostname: pqp_sub  # Add this line
    restart: always
    environment:
      POSTGRES_USER: emmanuel
      POSTGRES_PASSWORD: root123
      POSTGRES_DB: prod_db
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: emmanueljustice25@gmail.com
      PGADMIN_DEFAULT_PASSWORD: root123
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  pg_data:
  pgadmin_data: